//	===============================
//			@Import	Colors
//	===============================

$primary1: #4F89BD;
$primary2: #2D71AF;
$primary3: #0B5CA5;
$primary4: #084881;
$primary5: #053865;

$white: #fff;
$black: #000;
