@import "src/sass/components/custom-buttons";

@font-face {
  font-family: gaegu;
  src: url(/assets/fonts/gaegu/regular.woff);
  font-weight: normal;
}

@font-face {
  font-family: gaegu;
  src: url(/assets/fonts/gaegu/bold.woff);
  font-weight: bold;
}
