@import "./base/base";

html {
  min-height: 100%;
  scrollbar-color: $primary4 transparent;
  scrollbar-width: thin;
}

body {
  background-image: radial-gradient($primary2, $primary3, $primary4);
  //background-color: $primary3;
  color: $white !important;
  height: 100%;
  font-size: 0.95rem;
  overflow-x: hidden;
  overflow-y: auto;
  letter-spacing: 0.0312rem;
  font-family: gaegu;
  margin: 0 auto;
  font-weight: 400 !important;
}

.sm-grid {
  background-size: 5px 5px;
  background-image: linear-gradient(to right, $primary1 1px, transparent 1px), linear-gradient(to bottom, $primary1 1px, transparent 1px);
  height: calc(100vh);
  width: calc(100vw);
  filter: blur(1px);
  position: fixed;
  z-index: -9999;
}

.lg-grid {
  background-size: 25px 25px;
  background-image: linear-gradient(to right, $primary1 1px, transparent 1px), linear-gradient(to bottom, $primary1 1px, transparent 1px);
  height: calc(100vh);
  width: calc(100vw);
  filter: blur(1px);
  position: fixed;
  z-index: -9998;
}

